<h1>
  <span class="display-3">Criminal Contact</span>
  <div class="float-right mt-4">
    <button type="button" class="btn btn-outline-success mr-2" (click)="StartGame()" [disabled]="startGameButtonDisabled">
      Start Game
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="StopGame()" [disabled]="stopGameButtonDisabled">
      Stop Game
    </button>
  </div>
</h1>
<div *ngIf="showCurrentGamePanel">
  <hr />
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Game Start Time</h5>
        <p class="card-text h3 text-secondary">{{gameStartTime | date:'mediumTime'}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Elapsed Time</h5>
        <p class="card-text h3 text-secondary">{{gameElapsedSeconds | elapsedTime}}</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="card-deck">
  <div class="card">
    <a routerLink="/players">
      <div class="card-body">
        <h5 class="card-title">Players</h5>
        <p class="card-text h3 text-success">{{playerCount}}</p>
      </div>
    </a>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Money</h5>
      <p class="card-text h3 text-primary">{{totalMoney | currency:"£"}}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Transactions</h5>
      <p class="card-text h3 text-warning">{{transactionCount}}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Deaths</h5>
      <p class="card-text h3 text-danger">{{deathCount}}</p>
    </div>
  </div>
</div>
<hr />
<button class="btn btn-primary btn-lg" (click)="seedPlayers()">dev:seedPlayers()</button>
