<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Create Player</h5>
  <button type="button" class="close" aria-label="Close" (click)="Close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="create-player-name" class="col-form-label">First Name:</label>
    <input type="text" class="form-control" id="create-player-name" [(ngModel)]="firstName" ngbAutofocus required>
  </div>
  <div class="form-group">
    <label for="create-player-name" class="col-form-label">Last Name:</label>
    <input type="text" class="form-control" id="create-player-name" [(ngModel)]="lastName" ngbAutofocus required>
  </div>
  <div class="form-group">
    <label for="create-player-role" class="col-form-label">Role:</label>
    <ng-select
      class="mb-2"
      [items]="availableRoles"
      bindLabel="name"
      placeholder="Select role..."
      notFoundText="No roles found"
      [(ngModel)]="role">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="create-player-amount" class="col-form-label">Starting amount:</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">£</span>
      </div>
      <input currencyMask class="form-control" id="create-player-amount" [(ngModel)]="startingAmount" [options]="{ prefix: '', allowNegative: false }" required>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="Close()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="Ok()">Create</button>
</div>