.form-group {
  label {
    font-weight: bold;
  }

  input {
    max-width: 20rem;
  }
}
.ld-about {

  .ld-heading {
    font-family: "Consolas", monospace;
  }

  .ld-logo {
    width: 200px;
    height: 200px;
  }
}