<h2 mat-dialog-title>Create Player</h2>
<mat-dialog-content>
  <div class="form-group">
    <label for="create-player-name" class="col-form-label">First Name:</label>
    <input type="text" class="form-control" id="create-player-name" [(ngModel)]="firstName" ngbAutofocus required>
  </div>
  <div class="form-group">
    <label for="create-player-name" class="col-form-label">Last Name:</label>
    <input type="text" class="form-control" id="create-player-name" [(ngModel)]="lastName" ngbAutofocus required>
  </div>
  <div class="form-group">
    <label for="create-player-amount" class="col-form-label">Starting amount:</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">£</span>
      </div>
      <input currencyMask class="form-control" id="create-player-amount" [(ngModel)]="startingAmount" [options]="{ prefix: '', allowNegative: false }" required>
    </div>
  </div>
  <div class="form-group">
    <label for="create-player-role" class="col-form-label">Role:</label>
    <ng-select
      class="mb-2"
      [items]="roles"
      bindLabel="name"
      placeholder="Select role..."
      notFoundText="No roles found"
      [(ngModel)]="role">
    </ng-select>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>