<h2>
  <span>Players</span>
  <button type="button" class="btn btn-primary float-right" (click)="createPlayer()">
    Create Player
  </button>
</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Account #</th>
      <th scope="col">Balance</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" [class.table-danger]="player.isDead">
      <td>{{player.name}}</td>
      <td>{{player.account.accountNumber}}</td>
      <td>{{player.account.balance | currency:"£"}}</td>
      <td>
        {{getPlayerRole(player)}}
      </td>
      <td class="text-right">
        <div ngbDropdown placement="bottom-right">
          <button class="btn btn-sm btn-light" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <button class="dropdown-item">Transactions</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item">Edit</button>
            <button class="dropdown-item text-danger" (click)="setDead(player)">Mark as Dead</button>
            <button class="dropdown-item text-danger" (click)="deletePlayer(player)">Delete</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Delete Player</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you wish to delete this player?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" ngbAutofocus (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Delete</button>
  </div>
</ng-template>
<ng-template #addPlayerModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create Player</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="create-player-name" class="col-form-label">First Name:</label>
        <input type="text" class="form-control" id="create-player-name" [(ngModel)]="createPlayerFirstName" ngbAutofocus required>
      </div>
      <div class="form-group">
        <label for="create-player-name" class="col-form-label">Last Name:</label>
        <input type="text" class="form-control" id="create-player-name" [(ngModel)]="createPlayerLastName" ngbAutofocus required>
      </div>
      <div class="form-group">
        <label for="create-player-amount" class="col-form-label">Starting amount:</label>
        <input type="number" class="form-control" id="create-player-amount" value="1000" step="100" [(ngModel)]="createPlayerAmount" required>
      </div>
      <div class="form-group">
        <label for="create-player-role" class="col-form-label">Role:</label>
        <ng-select
          class="mb-2"
          [items]="roles"
          bindLabel="name"
          placeholder="Select role..."
          notFoundText="No roles found"
          [(ngModel)]="createPlayerRole">
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" ngbAutofocus (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="modal.close()">Create</button>
    </div>
  </ng-template>
  <ng-template #confirmDeadModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Player Death</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wish to mark this player as dead?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngbAutofocus (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Mark Dead</button>
      </div>
    </ng-template>