<h2>
  <span>Players</span>
  <button type="button" class="btn btn-primary float-right" (click)="createPlayer()">
    Create Player
  </button>
</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Account #</th>
      <th scope="col">Balance</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" [class.table-danger]="player.isDead">
      <td>{{player.name}}</td>
      <td>{{player.account.accountNumber}}</td>
      <td>{{player.account.balance | currency:"£"}}</td>
      <td>
        {{getPlayerRole(player)}}
      </td>
      <td class="text-right">
        <div dropdown placement="bottom right" class="btn-group">
          <button dropdownToggle type="button" class="btn btn-sm btn-light dropdown-toggle">
            Actions <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><button class="dropdown-item">Transactions</button></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><button class="dropdown-item">Edit</button></li>
            <li role="menuitem"><button class="dropdown-item text-danger" (click)="setDead(player)">Mark as Dead</button></li>
            <li role="menuitem"><button class="dropdown-item text-danger" (click)="deletePlayer(player)">Delete</button></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>