$cc-sidebar-item-size: 50px;

.cc-sidebar {
    position: fixed;
    width: $cc-sidebar-item-size;
    top: 0;
    left: 0;
    flex: 0 0 $cc-sidebar-item-size;
    background-color: #EEE;
    box-shadow: 0 0 5px 1px #444;
    
    &-item {
        color: #000;
        height: $cc-sidebar-item-size;
        min-height: $cc-sidebar-item-size;
        width: $cc-sidebar-item-size;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $cc-sidebar-item-size / 2;

        &:hover {
            background-color: #DDD;
            text-decoration: none;
        }

        &.active {
            .mat-icon {
                color: var(--blue);
            }
        }
    }    
}