<nav class="col d-flex flex-column cc-sidebar p-0 h-100">
  <a class="cc-sidebar-item" href="#" title="Dashboard">
      <i class="material-icons">face</i>
    </a>
  <a class="cc-sidebar-item" href="#" title="Players">
    <i class="material-icons">account_circle</i>
  </a>
  <a class="cc-sidebar-item" href="#" title="Banking">
    <i class="material-icons">account_balance</i>
  </a>
  <a class="cc-sidebar-item mt-auto" href="#" title="Settings">
      <i class="material-icons">settings</i>
  </a>
</nav>