<div class="row">
  <div class="col-9">
    <h2>Players</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Account #</th>
          <th scope="col">Balance</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let player of players">
        <tr>
          <td>{{player.name}}</td>
          <td>{{player.account.accountNumber}}</td>
          <td>{{player.account.balance | currency:"£"}}</td>
          <td>
              <button class="btn btn-sm btn-secondary" (click)="showTransactions(player)">Transactions</button>
            <button class="btn btn-sm btn-danger" (click)="deletePlayer(player)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th>{{getTotalPlayerBalance() | currency:"£"}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col-3">
    <h2>Interest</h2>
    <div class="form-group">
        <label for="interestPct">Interest %</label>
        <input type="number" class="form-control" [(ngModel)]="interestPct" id="interestPct">
      </div>
    <button type="button" class="btn btn-primary" (click)="addInterest()">Add Interest</button>

    <h2>Create Player</h2>
    <div class="form-group">
      <label for="newPlayerName">Name</label>
      <input type="text" class="form-control" [(ngModel)]="newPlayerName" id="newPlayerName">
    </div>
    <div class="form-group">
      <label for="newPlayerName">Initial amount</label>
      <input type="number" class="form-control" [(ngModel)]="newPlayerAmount" id="newPlayerAmount">
    </div>
    <button type="button" class="btn btn-primary" (click)="createPlayer()">Create</button>

    <h2>Transfer money</h2>
    <div class="form-group">
      <label for="newPlayerName">From</label>
      <select [(ngModel)]="transferFrom" class="form-control">
          <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="newPlayerName">To</label>
        <select [(ngModel)]="transferTo" class="form-control">
            <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
        </select>
      </div>
    <div class="form-group">
      <label for="newPlayerName">Amount</label>
      <input type="number" class="form-control" [(ngModel)]="transferAmount" id="transferAmount">
    </div>
    <button type="button" class="btn btn-primary" (click)="transfer()">Transfer</button>
  </div>
</div>